html {
  height: 100%;
  width: 100%;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #36393F;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 90%;
    padding: 20px;
    background-color: #2F3136;
    border-radius: 5px;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    margin-right: 5px;
}

.timestamp {
    font-size: 0.8em;
    color: #B9BBBE;
    margin-left: 5px;
}

.message-image {
    display: block;
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.timestamp-date {
  font-weight: lighter;
  font-size: 0.8em;
}

.timestamp-time {
  font-weight: normal;
  font-size: 0.8em;
}

.username-timestamp-container {
  display: flex;
  align-items: center;
}
